<mat-card style="text-align: center;">
  <div class="row">
    <mat-card-title>
      Contact
    </mat-card-title>
  </div>
  <form [formGroup]="messageForm" class="example-form" style="margin-top: 3%;">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Driver</mat-label>
        <input matInput formControlName="recipient" required>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Subject</mat-label>
        <input matInput formControlName="subject" required>
      </mat-form-field>
    </div>
    <div class="row" style="height: 60% !important;">
      <mat-form-field required appearance="fill">
        <textarea matInput formControlName="description" required rows="10"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div class="row">
    <button mat-raised-button color='primary' style="margin: auto;" (click)="send()">Send</button>
  </div>
</mat-card>
