mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

mat-card {
  margin-bottom: 3%;
  background: lightslategray;
}

mat-list-item {
  font-size: 150% !important;
  color: white !important;
}
