mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

mat-card {
  margin-bottom: 3%;
  background: rgb(212, 71, 5);
}

mat-list-item {
  font-size: 150% !important;
  color: black !important;
}
